# 服务器配置
PORT=3002
NODE_ENV=development

# 数据库配置
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ckanim?schema=public"

# JWT 配置
JWT_SECRET="ckanim-admin-secret-key-change-in-production-2026"
JWT_EXPIRES_IN="7d"

# 七牛云配置
QINIU_ACCESS_KEY="YOUR_ACCESS_KEY_HERE"
QINIU_SECRET_KEY="YOUR_SECRET_KEY_HERE"
QINIU_BUCKET="your-bucket-name"
QINIU_DOMAIN="http://your-domain.com"
QINIU_PREFIX="your-prefix/"
